*{
  box-sizing: border-box;
}
.app h2{
  text-align:center ;
}
.content{
  width : 80% ;
  height: auto;
  margin:auto ;
  display: flex;
  justify-content: space-between;
}
.btn{
  border:none ;
  outline: none;
  padding:10px 16px ;
  color:white ;
}
